.clear-button {
  width: 50%;
  height: 100%;
  display: inline-block;
  border: none;
  background-color: darkred;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
}

.clear-button:hover,
.clear-button:focus {
  color: black;
  outline: 1px solid #fff;
}